/* Navbar */
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 5px;
    }

    .navbar .menu.active {
        display: flex;
    }


    .menu-toggle {
        display: flex;
    }

    /* Banner */

    #jone-lee {
        flex-direction: column;
        text-align: left;
    }



    .jone h1 {
        font-size: 30px;
    }

    .jone p {
        line-height: 24px;
    }

    .icons {
        flex-direction: column;
        align-items: start;
    }


    .icons1 img {
        padding: 5px;
        margin: 5px;
        max-width: 50px;
        margin-bottom: 10px;
    }

    .social-icons2 img {
        padding: 5px;
        margin: 5px;
        max-width: 50px;
        margin-bottom: 92px;
    }

    .banner-image img {
        width: 100%;
        height: auto;
    }

    .heading-box h2 {
        text-align: center;
        font-size: 40px;
    }

    .heading-box h5 {
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
    }

    .logo-box img {
        max-width: 60px;
    }

    .logo-box h3 {
        font-size: 16px;

    }

    .logo-box p {
        font-size: 13px;
    }

    .parent-container1 {
        display: block;

    }

    .logo-box {
        margin-bottom: 30px;

    }

    /* Cards */

    .card-container {
        display: block;
    }

    .card {
        margin-bottom: 30px;
        width: 100%;

    }

    .card-image {
        width: 100%;
        height: auto;
    }

    .card-image img {
        width: 100%;
        height: auto;
    }

    .heading h1 {
        font-size: 28px;
    }

    .navbar {
        padding: 5px 5px;

    }

    .navbar-resume {
        flex-direction: column;
        align-items: center;
    }

    .child-resume {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .child-container {
        width: 100%;
        max-width: 600px;
        padding: 10px;
    }

    .child-card {
        padding: 10px;
        width: 100%;
        margin: 10px 0;
    }

    .card-image1 {
        width: 100%;
        height: auto;
    }

    .card-image1 img {
        width: 100%;
        height: auto;
    }

    .card-info1 p {
        font-size: 20px;
        line-height: 27px;
    }

    /* Carousal */

    #Testimonial {
        flex-direction: column;
    }

    .carousel {
        flex-direction: column;
    }

    .carousel-item {
        flex-flow: wrap;
        width: 100%;
        margin-bottom: 20px;
    }

    .Testimonial-heading h2 {
        font-size: 1.5rem;
    }

    .Testimonial-heading h3 {
        font-size: 1rem;
    }

    .carousel-controls {
        width: 100%;
        gap: 10px;
        margin-top: 25px;
    }

    .review {
        flex-flow: wrap;
        width: 100%;
        height: 400px;
    }

    .prev,
    .next {
        font-size: 1rem;
    }

    .review h3 {
        font-size: 1.2rem;
    }

    .review p {
        font-size: 12px;
    }

    .profile-img img {
        width: 100%;
        height: 227px;
    }

    .carousel-container {
        display: block;
        margin: auto;
    }

    /* Again Cards */

    .parent-content {
        flex-direction: column;
    }

    .card-container1 {
        display: block;
        padding: 20px;

    }

    .card1 {
        margin-bottom: 30px;
        width: 100%;

    }


    .text h4 {
        font-size: 1.2em;
    }

    .text h2 {
        font-size: 1.5em;
    }

    /* Faom */

    .parent-container6 {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }

    .child-container7 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        padding: 30px;
        width: 100%;
        height: auto;
    }

    .contact-icon img {
        padding: 0;
    }

    .image img {
        width: 100%;
        height: auto;
    }

    .text-info1 h4,
    .text-info1 h5,
    .text-info1 p {
        margin: 10px;
    }

    .contact-icon a {
        margin: 5px;
    }

    .contact-form {
        width: 100%;
        padding: 20px;
        margin-left: 0;
    }

    .foam-heading h2 {
        font-size: 36px;
    }

    .parent-foam {
        padding: 20px;
        flex-direction: column;
        width: 100%;
    }

    .form-group {
        width: 100%;
    }

    button {
        padding: 12px;
        font-size: 16px;
    }

    /* Footer */
    .row {
        flex-direction: column;
        align-items: center;
    }

    .footer-child {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .icon a {
        margin-right: 15px;
    }

    .logo img {
        max-width: 150px;
    }

    .footer {
        padding: 15px;
        font-size: 14px;
    }

    .f-text {
        display: block;
        margin-top: 5px;
        font-size: 16px;
    }
}